*
!.gitignore
!ovpn.ps1
!config.json
!OpenVPN
!OpenVPN/config-auto
!OpenVPN/config-auto/README.txt
!OpenVPN/config-auto/static.key
!OpenVPN/res
!OpenVPN/res/ovpn.ico
!OpenVPN/bin
!OpenVPN/bin/openssl.exe
!OpenVPN/bin/libcrypto-1_1-x64.dll
!OpenVPN/bin/tapctl.exe
!OpenVPN/bin/openvpnserv.exe
!OpenVPN/bin/libpkcs11-helper-1.dll
!OpenVPN/bin/libssl-1_1-x64.dll
!OpenVPN/bin/openvpn.exe
!OpenVPN/bin/openvpnserv2.exe
!OpenVPN/bin/liblzo2-2.dll
!OpenVPN/log
!OpenVPN/log/README.txt
!OpenVPN/license.txt
!OpenVPN/config
!OpenVPN/config/README.txt
!cl2.ovpn
!cl1.ovpn
